h1 {
    color: hotpink;
    text-align: center;
}

body {
    background-color: pink;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: darkviolet;
}

th, td {
    padding: 10px;
    text-align: center;
}

caption {
    color: mediumpurple;
    font-weight: bold;
    padding: 5px;
    caption-side: top;
    font-size: large;
}

tr:hover {background-color: lightcoral;}

.center {
    margin-left: auto;
    margin-right: auto;
}