h1 {
    color: hotpink;
    text-align: center;
}


table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px;
    text-align: center;
}

caption {
    text-align: center;
    color: mediumpurple;
    font-weight: bold;
    padding: 10px;
}

tr:hover {background-color: lightcoral;}

.center {
    margin-left: auto;
    margin-right: auto;
}