h1 {
    color: hotpink;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:hover {background-color: lightcoral;}